$color_main: #745a82;

.group1 {
	background: url('../images/bg_group1.jpg') no-repeat;
	.title {
		padding: 50px 0;
		h3 {
			color: $color_main;
			font-weight: normal;
			text-transform: uppercase;
		}
		h2 {
			color: $color_main;
			font-weight: bold;
			text-transform: uppercase;

		}
	}

	.item {
		img {
			border-radius: 100%;
		}
	}
}